@font-face {
    font-family: 'Garet Book';
    src: url('../fonts/garet/Garet-Book.eot');
    src: url('../fonts/garet/Garet-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/garet/Garet-Book.woff2') format('woff2'),
        url('../fonts/garet/Garet-Book.woff') format('woff'),
        url('../fonts/garet/Garet-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Squartiqa4F';
    src: url('../fonts/squartiqa4F/Squartiqa4F.eot');
    src: url('../fonts/squartiqa4F/Squartiqa4F.eot?#iefix') format('embedded-opentype'),
        url('../fonts/squartiqa4F/Squartiqa4F.woff2') format('woff2'),
        url('../fonts/squartiqa4F/Squartiqa4F.woff') format('woff'),
        url('../fonts/squartiqa4F/Squartiqa4F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('Evolventa-Bold.eot');
    src: url('Evolventa-Bold.eot?#iefix') format('embedded-opentype'),
        url('Evolventa-Bold.woff2') format('woff2'),
        url('Evolventa-Bold.woff') format('woff'),
        url('Evolventa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../fonts/evolventa/Evolventa-Regular.eot');
    src: url('Evolventa-Regular.eot?#iefix') format('embedded-opentype'),
        url('Evolventa-Regular.woff2') format('woff2'),
        url('Evolventa-Regular.woff') format('woff'),
        url('Evolventa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garet bolt';
    src: url('../fonts/garet/Garet-Heavy.eot');
    src: url('../fonts/garet/Garet-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/garet/Garet-Heavy.woff2') format('woff2'),
        url('../fonts/garet/Garet-Heavy.woff') format('woff'),
        url('../fonts/garet/Garet-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


